body {
    background: linear-gradient(#ffdde1, #ee9ca7);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    overflow-x: hidden;
}

h1 {
    color: #b3005e;
}

#contador {
    font-size: 1.2em;
    margin-bottom: 15px;
}

#corazon {
    font-size: 70px;
    cursor: pointer;
    animation: latido 1.2s infinite;
}

@keyframes latido {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

#gifAmor {
    width: 130px;
    display: none;
    margin: 15px auto;
    pointer-events: none;
}

.carta {
    margin-top: 20px;
}

#contenidoCarta {
    background: white;
    padding: 15px;
    border-radius: 12px;
    margin-top: 10px;
}

.cerrada {
    display: none;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background: #ff4d88;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* LLUVIA */
.caer {
    position: fixed;
    top: -50px;
    animation: caer 6s linear forwards;
    z-index: 9999;
    pointer-events: none;
}

@keyframes caer {
    to {
        transform: translateY(110vh);
        opacity: 0;
    }
}

.foto {
    width: 70px;
    border-radius: 10px;
}

.texto {
    font-size: 16px;
    font-weight: bold;
    color: #c2185b;
}
